body {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .dot {
    stroke: #000;
  }
  .line{
  stroke:dimgrey;
  stroke-width:2px;
  }
  .tooltip{
  position:absolute;
  width:auto;
  border-radius:10px;
  height:auto;
  font-family: calibri;
  font-weight:bold;
  font-size: 14px;
  background-color: lightgrey;
  border:1px solid grey;
  text-align: center;
  padding:10px;
  }